*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: rgb(42, 42, 42);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(142, 37, 37);
}
.box1{
    height: 100%;
}
/* 左边框 */
.left-box{
    width: 300px;
    height: 1800px;
    background-color: #fff;
    border: 1px solid rgb(170, 170, 170);
    position: absolute;
    top: 80px;
    left: 125px;
    border-radius: 5px;
}
/* 头像 */
h1{
    margin: 10px 10px 0 10px;
    color: rgb(0, 0, 0);
}
.hr{
    width: 270px;
    position: relative;
    left: 15px;
}
.l-box
{
    width: 300px;
    height:150px;
}
.touxiang img{
    width: 120px;
    height: 120px;
    border-radius: 90px;
    display: inline-block;
    position: relative;
    margin: 20px;
}  
.name{
    font-size: 25px;
    position: relative;
    bottom: 70px;
    left: 10px;
} 
/* 关注粉丝投稿数 */
.number{
    width: 80px;
    height: 40px;
    margin: 20px 30px;
    text-align: center;
    display: inline-block;
}
/* 简介 */
.introduction{
    width: 260px;
    height: 70px;
    margin: 20px;
    overflow: hidden;
}
.function li{
    width: 120px;
    height: 35px;
    margin: 13px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    background-color: rgb(255, 250, 195);
    border: 1px solid rgb(233, 233, 173);
}
.function a{
    color: rgb(0, 0, 0);
}
.function li:hover{
    background-color: rgb(239, 235, 185);
    cursor: pointer;
}
/* 分区 */
.function-2{
    width: 300px;
    height: 150px;
}
.function-2 li{
    height: 50px;
    padding: 15px 100px;
    letter-spacing: 5px;
    font-size: 19px;
    text-align: center;
}
.function-2 li:hover{
    border-bottom: 2px solid rgb(140, 103, 0);
}
.video{
    border-bottom: 2px solid rgb(140, 103, 0) ;
}
/* 右边盒子 */
.right-box{
    width: 950px;
    height: 1800px;
    background-color: #fff;
    border: 1px solid rgb(170, 170, 170);
    position: absolute;
    top: 80px;
    right: 125px;
    display: inline-block;
    border-radius: 5px;
}
.right-box h2{
    padding: 17px 0 5px 30px ;
}
/* 视频区域 */
.video-box{
    height: 200px;
    width: 950px;
    display: flex;
}
.container{
    /* 相对定位 */
    position: relative;
    /* 弹性布局 横向排列 允许换行 */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px 0 0 0;
}
.container .box{
    position: relative;
    width: 260px;
    height: 170px;
    /* 溢出隐藏 */
    overflow: hidden;
    /* 动画过渡 */
    transition: 0.5s;
    border-radius: 8px;
    margin: 28px;
}
/* 鼠标移入，盒子变大 */
.container .box:hover{
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
    z-index: 1;
}
.container .box .img-box{
    /* 绝对定位 */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
/* 渐变遮罩（黑色——透明） 默认隐藏 */
.container .box .img-box::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,#222,transparent);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
}
/* 鼠标移入，渐变遮罩显示 */
.container .box:hover .img-box::before{
    opacity: 1;
}
.container .box .img-box img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* 保持原有尺寸比例，裁切长边 */
    object-fit: cover;
}
.container .box .text-box2{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    /* 弹性布局 元素位于容器的结尾 */
    display: flex;
    align-items: flex-end;
    color: #fff;
    z-index: 2;
}
.container .box .text-box2{
    font-size: 20px;
    /* 默认移出可视范围 */
    transform: translateY(200px);
    transition: 0.2s;
}
.container .box:hover .text-box2 {
    /* 鼠标移入，移入可视范围 */
    transform: translateY(0);
    /* 设置动画延迟时间 */
    transition-delay: 0.1s;
}
.container .box .text-box2 p{
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 30px;
    margin-right: 30px;
    /* 默认移出可视范围 */
    transform: translateY(200px);
    transition: 0.3s;
    color: #fff;
}
.container .box:hover .text-box2 p{
    /* 鼠标移入，移入可视范围 */
    transform: translateY(0);
    /* 设置动画延迟时间 */
    transition-delay: 0.2s;
}
/* 标题盒子 */
.title-box{
    width: 262px;
    height: 80px;
    padding: 0 9px;
    margin: 0 7px;
}
.title-box img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    opacity: 0.8;
}
.title-box a {
    text-decoration: none;
    color: black;
}
.title-box a:hover{
    color: rgb(136, 125, 10);
}
.title{
    cursor: pointer;
    height: 30px;
    font-size:18px;
    font-weight: bold;
    overflow: hidden;
}
.author a{
    color: rgb(145, 145, 145)
}

.up-box{
    height: 80px;
    width: 1140px;
}